*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

h1{
    margin-top: 10px;
    margin-left: 30px;
}

.post-item{
    background-color: blueviolet;
    color: #fff;
    margin: 25px 10px;
    padding: 10px;
}

h3{
    margin-bottom: 15px;
}